<%= form_for(@student, :html => {:multipart => true}) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vorname %><br />
    <%= f.text_field :vorname %>
  </div>
  <div class="field">
    <%= f.label :nachname %><br />
    <%= f.text_field :nachname %>
  </div>
  <div class="field">
    <%= f.label :foto %><br />
    <%= f.file_field :foto %>
  </div>
  
  <div class="field">
    <%= f.label "verfügbare Kurse" %> <br />
    <%= f.collection_select(:course_id, @all_courses, :id, :coursename,{:prompt => false}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
