</br>
<h1> <%= t "students.title" %></h1>

<table>
  <tr>
    <th><%= t "students.lastname" %></th>
    <th><%= t "students.firstname" %></th>
    <th><%= t "students.foto" %></th>
    <th>Kurs</th>
    <th></th>
    <th></th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.vorname %></td>
    <td><%= student.nachname %></td>
    <td><%= student.foto %></td>
    <td><%= student.course.coursename %></td>
    <td><%= link_to 'Ansehen', student %></td>
    <td><%= link_to 'Editieren', edit_student_path(student) %></td>
    <td><%= link_to 'Löschen', student, method: :delete, data: { confirm: 'Bist du sicher?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t("students.createNew"), new_student_path %>
