<%= form_for(@karteikarte) do |f| %>
  <% if @karteikarte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@karteikarte.errors.count, "error") %> prohibited this karteikarte from being saved:</h2>

      <ul>
      <% @karteikarte.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vorname %><br />
    <%= f.text_field :vorname %>
  </div>
  <div class="field">
    <%= f.label :nachname %><br />
    <%= f.text_field :nachname %>
  </div>
  <div class="field">
    <%= f.label :current_fach %><br />
    <%= f.text_field :current_fach %>
  </div>
  <div class="field">
    <%= f.label :prev_fach %><br />
    <%= f.text_field :prev_fach %>
  </div>
  <div class="field">
    <%= f.label :erraten %><br />
    <%= f.check_box :erraten %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
