<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course %><br />
    <%= f.text_field :course %>
  </div>
  <div class="field">
    <%= f.label :gameMode %><br />
    <%= f.text_field :gameMode %>
  </div>
  <div class="field">
    <%= f.label :currentScore %><br />
    <%= f.number_field :currentScore %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
