<!DOCTYPE html>
<html>
<head>
  <title>Lsn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 <link rel="stylesheet" href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css"/>
  <%= favicon_link_tag '/public/favicon.ico' %>
  <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap.js"></script>
  
</head>

</head>
<body>  
	
<div class="nav-collapse collapse">

    <ul class="nav nav-top ">
            <%= link_to 'Start Game', games_path,class: "link" %> 
            <%= link_to 'Studenten', students_path, class: "link" %> 
            <%= link_to 'Kurse', courses_path,  class: "link" %>
            <%= link_to 'Professor', professors_path, class: "link" %> 
            <%= link_to 'Score', scores_path, class: "link" %>
            <%= link_to 'Deck', decks_path, class: "link" %>  
            <%= link_to_unless_current "English", locale: "en" %>
            <%= link_to_unless_current "Deutsch", locale: "de" %>
    
    </ul>
</div>

<%= yield %>
</body>
</html>
